[2014-01-07 06:32] peekaa opened #1 "simul"
Thank you for this.

Not sure if its working with me, some "simulation" mode would be appreciated: just to see a list, which message are going to move/copy and where to. I tried "debug" mode, but probably there was no error.

[2014-01-07 06:36] peekaa opened #2 "limit"
with some local imap servers there is limitation - you can download 100 messages one to each other and then you have to wait for say 1 minute. So another option would be appreciated: "process x messages/x bytes and then wait for y minutes before processing next messages."

Thank you.

[2014-01-07 12:10] #1 closed, assigned to wangvisual

[2014-01-09 07:12] #2 closed, assigned to wangvisual

[2014-01-17 14:12] rerecrose opened #3 "BUG_MINOR: Huge horizontal config screen if many accounts are pressent in TB"
1st of all: CONGRATULATION for the incredible good ideas behind this nice project of you.
It's hard to believe that Thunderbird being as great as it is doesn't have an auto-archive functionality built-in in the CPP core...

BUG:
A Huge-width config dialog is displayed if many accounts/identities are present in TB.

This is because the app creates a button for accessing "Account settings" of each a

[2014-01-17 14:28] rerecrose opened #4 "NEW_Contextual_menu__ARCHIVE_NOW!"
Idea:

New Contextual menu to launch Archiving immediately :+1: (Start archiving NOW)

As a related idea:
Place also a STOP Archiving.

![awesome_autoarchive_new_context_menu_item_archive_now](https://f.cloud.github.com/assets/6422427/1941013/7f07d8fe-7f83-11e3-9aa1-b403642a0670.PNG)

Thanks

[2014-01-17 15:14] rerecrose opened #5 "New Archiving option: Archive using Thunderbird archiving system and rules"
Thunderbird already has an archiving system. You can define where the archives go and it even splits by years or year-month, etc

But there is NO good way to invoke the archiving event to run automatically (other extensions do NOT work well... or they tend to leave an unresponsive TB client)

Perhaps Awesome Autoarchive could have an additional action for "Archive following TB rules"

Thanks!

![a

[2014-01-18 04:51] #4 closed, assigned to wangvisual

[2014-01-18 06:42] #3 closed, assigned to wangvisual

[2014-01-18 11:55] #5 closed, assigned to nobody

[2014-01-20 15:33] rerecrose opened #6 "Show More details for each rule: Account/profile name"
If you have several accounts it's not immediately clear what rule applies to which account . This is because only the name of the folder "INBOX" is shown, which of course, may exist (and it does) in many/all accounts and profiles.

I would suggest:

Please show more details about account for each rule:

![awesome_autoarchive_show_account_info_and_details](https://f.cloud.github.com/assets/6422427/

[2014-01-22 10:08] #6 closed, assigned to wangvisual

[2014-01-23 14:17] Serret opened #7 "[Minor Bug] Awesome Autoarchive icon covers status bar updates"
I've found a minor issue with the latest version of awesome autoarchive 0.2

When I first installed awesome autoarchive the icon was docked to the right side of the status bar. No issues occured then.

But after rebooting and opening thunderbird again, I noticed the icon was now docked to the left side of the status bar. Because of that, the bar no longer shows any status updates, that is whether

[2014-01-25 15:48] Andy1616 opened #8 "Feature Requst: new rule with preset values"
Hi,
I just started migration from OL to TB and already love it - but I misse the OL rules to store away mails. That's how I found that nice tool.

I'd love to see a new function: "create rule for selected eMail"
Having selected that the config dialog shall pop up and a new rule shall already be inserted and prefilled with
- source folder
- sender
- receipient
- subject

Is that a big deal to come

[2014-01-25 16:00] Andy1616 opened #9 "move vs archive"
Hi,
defined a rule (subject only) and was wonderung why dry run and run didn't pick up the targeted email.
"move" - does not find the email
"archive" - does!!

bug or feature - or did the user misunderstand something... :->

[2014-01-25 16:54] rerecrose opened #10 "BUG: Exception on no longer existent account/folder"
BUG: Exception on no longer existent account/folder

How to reproduce: Create a test account in TB.

Create a rule to work with contents in the INBOX inside that account/folder

-Delete the account.

Upon automated run there will be an exception caught

Suggestion: Check for existence of the account/virtual-folder before working on it

Thank you as always.

Incredible the great  work you are doing

[2014-01-25 18:14] rerecrose opened #11 "Feat_Req: Official MASCOT Name and DISABLE/ENABLE ARCHIE"
AN OFFICIAL MASCOT NAME (for Awesome Autoarchive, "The" Thunderbird autoarchiver and automation agent):
This project is an important one. It's the bending point that marks the time for a lot of people migrating from Outlook to Thunderbird. (Many people didn't want to fully migrate to TB due to the lack of good auto-archive capabilities in TB... This limitation has just come to an end and we can no

[2014-01-25 20:17] rerecrose opened #12 "[Potential BUG] Are "Time Settings" correctly followed ?"
Testing with v 0.3

It seems that after a run it does NOT re-schedule after the programmed delay.

Perhaps there is an error and instead of the "variable" for "Start_Next_Run_After"
the variable for "Start_Next_Run_After_(If_limit_reached)" ( I don't the exact names) is used by mistake

Could you please check it ?.

thanks

[2014-01-27 09:02] #9 closed, assigned to wangvisual

[2014-01-27 19:16] rerecrose opened #13 "Feat_Req: Apply Settings button for config dialogs"
For config dialogs it will be very useful to be able to just click an [APPLY Settings] instead of [OK]. Because clicking the [OK] button applies/saves settings but it also closes the dialog.

If we're in the process of optimizing/testing rules it would be better to be able to periodically click [Apply]. We may also need to be sure that "Archie" is working with our latest rules definitions while we

[2014-01-27 23:47] rerecrose opened #14 "BUG: Caught Exception null: Component returned failure code: 0x8055000a"
testing in version 0.3 of Awesome AutoArchive

Sometimes this exception appears:
Caught Exception null: Component returned failure code: 0x8055000a
It seems that it happens when TB is doing something (heavy operation) in the background .

Idea:

Perhaps it is due to "collision" between "Archie" and some of the TB background operations such as Automatic folder compacting?. Perhaps the folder object

[2014-01-28 09:10] #14 closed, assigned to wangvisual

[2014-01-28 10:55] #10 closed, assigned to wangvisual

[2014-01-28 14:36] #13 closed, assigned to wangvisual

[2014-01-28 19:15] rerecrose opened #15 "Suggestion for Contextual Icon: use the "Archie" (Purple Monster with single eye) as Icon"
Suggestion for Contextual Icon:

I would also suggest to use the "Archie" (Purple Monster with single eye) as Icon in this contextual menu that Andy1616 requested. It's much more Eye-catching and better for immediate visual recognition among all other contextual stuff .

I would use "Archie" with Eye (Semiopen eye-lid)
:)

[2014-01-29 02:49] #15 closed, assigned to nobody

[2014-01-31 15:26] #11 closed, assigned to wangvisual

[2014-02-01 23:22] rerecrose opened #16 "[Feat_Req] Count of Msgs processed or "Nothing done" if all clear"
At the status bar
After processing all rules (for each round):

Archie/Autoarchive could show in the status bar (and log):

ARCHIE:  I matched and processed: 95 Msgs ( 50 archived,  20 moved,  10 copied,   15 deleted ... )
                            or
ARCHIE: Nothing done (No matching msgs found this time).

Note: useful to see if after a manual run all is clear, etc

Regards

[2014-02-01 23:27] #12 closed, assigned to wangvisual

[2014-02-02 11:49] #16 closed, assigned to wangvisual

[2014-02-07 14:27] Andy1616 opened #17 "Missing button DELETE"
missing a DELETE button (close to new) to delete selected rules...
:->

thanks!

[2014-02-07 15:25] #17 closed, assigned to nobody

[2014-02-09 09:10] #8 closed, assigned to wangvisual

[2014-02-13 09:57] gyhor opened #18 "Feat_Req: Rule include Label"
Hi,
very helpful tool. It would be great, if the user can also filter with labels.
For example he can tag messages as "notimportant" and define a rule, that deletes the mails after 60 days.
thanks
gyhor

[2014-02-25 13:15] peekaa opened #19 "message already exists"
If in destination folder some message already exists (it was copied somehow before), there could be an option: \* overwrite without asking \* delete \* ask *something else. Thank you,.

[2014-02-27 09:39] peekaa opened #20 "history"
enhancement: there could be a simple history: as for me table with date and how many mgs were moved/copied, would be enough. To have simple overview what has been working on. Thank you.

[2014-03-02 12:24] #20 closed, assigned to wangvisual

[2014-03-10 14:58] peekaa opened #21 "archive in not default location"
Seem to me, that if its not default Archive set in Account settings, then "archive" option in this addon doesnt work. I could send screenshots if its neccessary. I have non-English locale so I would have to install English TB for you to understand.

[2014-03-11 13:52] #21 closed, assigned to nobody

[2014-03-13 01:39] gbrossi76 opened #22 "Problem when move hierarchy when folder name have space"
When I create a rule to move with scope hierarchy, I got an error if the folder name have spaces.

Exception
Caught Exception null: Component returned failure core: 0x80550013 [nsIMsgFolder.createSubfolder] JS frame :: chrome://awsomeautoarchive/content/autoArchiveService.jsm :: <TOP_LEVEL> :: line 406

[2014-03-18 06:57] #19 closed, assigned to wangvisual

[2014-03-18 07:17] #18 closed, assigned to wangvisual

[2014-03-24 15:24] peekaa opened #23 "broken Conversation"
I have a message with on reply on imap server. When click on Open in Conversation in TB, I can see both of them as hierarchy. When I move them by hand to local archive (or just one of them), the Open in Conversation show both of them, too. But when this plugin moves them to local archive, the Open in Conversation show just one message, not the replay.

[2014-03-31 08:37] #23 closed, assigned to nobody

[2014-04-15 07:37] moorti opened #24 "Problem while copying folders with hierarchy from IMAP to local folders"
Hi,
when I'm trying to copy folders from my IMAP server to local servers on my PC with whole hierarchy I'm receiving some errors.
In version 0.4 it was one error and the add-on was stopping working after copying only one folder (it was ignoring the rest of the folders), now in version 0.5 after the first run it was many more. Also it didn't even tried to go the first run.
Also I'm not moving those

[2014-04-15 09:43] #22 closed, assigned to wangvisual

[2014-05-01 18:12] Andy1616 opened #25 "Rules gone"
Hi,

worked fine for quite a while.
Did add a rule today - and now the list of rules ist empty!!!
Where are they stored? Any chance to revert? What happened??

[2014-05-09 17:53] Serret opened #26 "Awesome Autoarchive causing Duplicate Emails"
Awesome Autoarchive version: 0.5
Thunderbird version: 24.5.0 (and betas)
OS: Windows 7 64bit, Windows 7 32bit.

I've reported the situation on the Mozilla forums as I wasn't sure immediately that the issue was being caused by awesome autoarchive.

The report can be found here:
http://forums.mozillazine.org/viewtopic.php?p=13533875#p13533875

Note: The only rules I had were rules to delete emails i

[2014-05-11 09:40] ughetto2012 opened #27 "Works with Thunderbird 24.5.0 ?"
Hi, this add-on is a great idea. Especially the feature to schedule a mail transfer from a virtual cartel to a "real" cartel. However, it seems not to work on my Thunderbird 24.5.0 ... Can you help me ?

[2014-05-11 11:16] #25 closed, assigned to wangvisual

[2014-05-12 06:30] peekaa opened #28 "focus changes"
when running autoarchive (with multiple runs As Batch limitation for one run), the cursor/focus on message in windows with messages is moving forward. In another way: I read a message and suddenly another/next message is displayed (if in background autoarchive is just running).

Hoping its clear :-) otherwise I would have to take a video :-)

[2014-05-12 19:28] #27 closed, assigned to nobody

[2014-05-14 02:20] #28 closed, assigned to wangvisual

[2014-05-16 01:18] #26 closed, assigned to wangvisual

[2014-05-22 14:33] #24 closed, assigned to wangvisual

[2014-05-23 12:23] gater2014 opened #29 "rule lacks of property source"

[2014-05-23 15:15] #29 closed, assigned to wangvisual

[2014-05-24 03:58] m31uk3 opened #30 "Idendity ignored for Local Folders"
I have two accounts configured in thunderbird both filter emails into the Local Folders.

Under account settings I have specified unique archive folders for each account.

Local Folders
Archive for Account #1
Archive for Account #2

When autoarchive runs all of the mails are archived into Archive for Account #2

[2014-05-25 13:12] mbaass opened #31 "pop3 issue"
I archived 500 mails with 0.5 then 78.000 duplicates mails began loading down. Then upgraded to 0.6. Now at first glance everything seems to be right.
But now - whenever thunderbird looks for new mail, thunderbird freezes for about 2 minutes. Thunderbird information during that time is: 'checking inbox'. The strange thing is that sometimes this message now is displayed (with 2 minutes freeze time)

[2014-06-05 09:48] lechup opened #32 "archving any mail cause redownload all mails"
After installing addon, then running archive (not dry but run) everything went just good. But after restarting TB I noticed all mails were redownload from this account!

Account is POP3 account.

The thing causing restart is connected with 'running archive'. I repeated above but got the same results.

PS: I stopped it by doing 'Offline' and configured to download only headers from this account, an

[2014-06-11 05:11] FredFoo opened #33 "Archie stopped working"
I had some rules running for ages that where moving mailing list contents to local folders. Always worked fine, but stopped doing anything some weeks ago. To be precise, last mail moved was on the 4th of May 10:00am :) Afternoon mails are still on the server.

Currently there are around 2900 messages in the folder, but every archie run ends with "nothing to do". Maybe you have an idea?

[code]

[2014-06-11 05:29] #32 closed, assigned to nobody

[2014-06-11 05:29] #31 closed, assigned to nobody

[2014-06-11 05:41] peekaa opened #34 "deactivated after upgrade"
After upgrade from 0.5 - 0.6 in xp sp3 in TB 24.5 the plugin was deactivated even if before upgrading it was activated. Might be not a bug, just want you to know about it.

[2014-06-11 10:13] #33 closed, assigned to nobody

[2014-06-16 21:33] mkauzlar opened #35 "Schedule not working on TB 24.5.0"
Hello I'm using autoarchive 0.6beta.
I have setup few rules with Age 0 and they work by pressing dry run or run. However this processing happens only if I click on run and not periodically or when email arrives.
thanks

[2014-06-17 09:22] #35 closed, assigned to nobody

[2014-06-25 11:50] moorti opened #36 "Version 0.6 does nothing"
After installing on a "clean" Thunderbird (with no previous versions) and setting the rule to move messages with hierarchy from IMAP the add-on does nothing. It won't scan the SRC folder only gives the info "Nothing done".

When downgraded to 0.5 and using the same rules the add-on starts properly and moves the messages.

Maybe a minor bug, but letting you know just in case.

[2014-07-04 17:46] mkauzlar opened #37 "Process rules up till 11"
I have 15 rules and archie processes 11 then ends.
I tried moving rules up and down so if rule was after 11 and moved up it will be run If the rule that was before 11 is moved to after 11 it will not be run.
Version 0.6

[2014-07-07 15:00] #37 closed, assigned to wangvisual

[2014-07-26 09:25] reinerblock opened #38 "After copying with Awesome Autoarchive messages in source missing"
Hi,

I created some rules to copy messages from my original Gmail account into a local copy. The Gmail account is IMAP with storing messages locally. Already a few weeks ago I realized a curious thing that in the source Gmail folder after copying the mails, some of the mails are missing. Therefore I took a look using a browser at my Gmail account but there the mails where still where they should b

[2014-07-27 04:41] kishan777 opened #39 "While archiving mails to local folder mails are not getting deleted from server"
I have set rule to Archive all mails which are older then 200 days to local folder, I want that those also should get deleted (or moved to Trash folder) in server (Gmail).

At present mails are getting archived to local folder and in server mails are moved to All Mails folder.
Can you please any such option that while Archiving mails it will delete them (or move them to Trash folder)

Thanks.

[2014-08-01 15:42] micksulley opened #40 "Copy will not go to local"
I have set up a single rule as follows
Action = Copy
Source Folder = imap://mick@sulley.info.../Sent
Scope = hierarchy
Destination Folder = mailbox://nobody@Local Folders/Archive

But it is copying to an Archive folder in that mail account rather than Local Folders.  Is this a bug or have I done something wrong?
Running Awesome 0.6 on Thunderbird 31.0 on Linux Mint

Thanks
Mick

[2014-08-03 19:50] #40 closed, assigned to wangvisual

[2014-08-06 20:00] micksulley opened #41 "Some mails and some sub folders not copied"
I have a mail folder WorkStuff, with several levels of subfolder.  I have a rule -
Action = Copy
Source Folder = imap://....WorkStuff
Scope = hierarchy
Destination Folder = mailbox://nobody@Local Folders/Archive/WorkStuff
Age = 0

AutoArchive has created some but not all of the subfolders under WorkStuff and for some of the subfolders which are created the mails are not copied over.
I have looked

[2014-08-06 22:14] JMRT85 opened #42 ""No source" error"
Hello,

I'm trying to install AAA on my PC with several (at least 6 or 7) domain accouts, the problem is that I can install it on the first acount without problem, but when I try on the second, Archie pop's up and give me this error:
![src](https://cloud.githubusercontent.com/assets/8378885/3834846/ff66b4d6-1db5-11e4-9df2-4e3e82a1391d.jpg)

And when I try to run the only rule I have, Archie pop's

[2014-08-12 15:45] #42 closed, assigned to nobody

[2014-09-11 06:57] alessandromocci opened #43 "Caugh Exception NS_ERROR_NOT_IMPLEMENT"
Hi, my names is Alessandro and Iwrite from Italy.
I have configured the filters on mails sended, but when the "Autoarchive" run, it display the attached error.
![displayederror](https://cloud.githubusercontent.com/assets/7852946/4230230/ce9d91bc-3980-11e4-984c-b706c4a69f53.png)

[2014-09-12 13:03] jcea opened #44 "Duplicate detection takes ages when destination is IMAP4"
I find this extension very powerful, but when destination is IMAP4, the duplicate detection takes AGES.

I have folders with 60.000 messages on them and the extension takes AGES to decide what messages to move and, if you are unlucky, it simply crashes the entire thunderbird.

Being careful with the "age" control, it doesn't crash, but it is still really slow to decide about duplicates.

I know th

[2014-09-14 06:24] orschiro opened #45 "Filter for replied messages"
Hi there,

Thanks a lot for your addon. Sounds very promising!

I am wondering whether the following is or could be possible with autoarchive:

Thanks ahead!

[2014-09-18 14:44] #44 closed, assigned to wangvisual

[2014-10-02 03:58] oppx opened #46 "AAA doesn't work on other PC"
I use AAA on one of my pc,it just work and really good to use.
But I install on other winXP sp3  PC , set rule and press RUN , the error message show up:

Error: rule lacks of property src
Source File: resource://gre/modules/XPIProvider.jsm -> jar:file:///C:/Documents%20and%20Settings/TMA/Application%20Data/Thunderbird/Profiles/de204mb1.default/extensions/awsomeautoarchive@opera.wang.xpi!/bootstra

[2014-10-06 19:50] ghost opened #47 "AAA does not separate archived messages by folder"
My archiving settings have the option "Keep existing folder structure of archived messages" on. Despite that, AAA does not honor this setting. Does AAA lack this feature? Have I missed some AAA setting?

Thanks in advance.

[2014-10-09 14:32] #47 closed, assigned to nobody

[2014-10-13 17:48] B0R1K opened #48 "Visual reprisentaion of emails coverd by rule(s)."
It would be very cool to have a visual indication on Inbox to see with emails a are covers by featured
auto archive rules...

This would allow users to see witch emails are not covers by auto clean up rules, so they can create them.

Thank you
Borik

p.s. awesome tool

[2014-11-25 10:47] vdenisov opened #50 "Too many rules break AAA options window"
See https://www.dropbox.com/s/cd79z0bhzsc1qzq/aaa.png?dl=0 for a screenshot. Basically, AAA options window should be made resizable; and the list of rules wrapped in a scroll pane.

[2015-01-02 16:31] chinenual opened #51 "archive "hangs" until I interrupt?"
AAA 0.6, Thunderbird 31.3.0  (Windows 7), Dovecot IMAP 1.1.4

I have a very large set of IMAP folders that I'm archiving - Auto Archive seems to get "stuck" now and then.  Sometimes if I interrupt it ("Stop Now"), it will make more progress on the next iteration, but it now appears to be getting stuck each time it is restarted.  I'm wondering if it might be due to being unable to create new output

[2015-01-02 17:14] chinenual commented on #51
Possibly relevant -- in the Activity Manager dialog, I see the following messages.  I don't see a corresponding "error"  in the error console, but I wonder if this is related to the hang?

[code]

[2015-01-02 23:11] chinenual commented on #51
I've gotten a little further by some combination of the following:
* Unselected "Show Only Subscribed Folders" on the account settings (this helps the archiver to be able to "see" the unsubscribed, but target Archive folders??)
* created empty mailboxes on the IMAP server - I noticed, for example that some "folders" in the archive hierarchy got created as simple files -- so deleting those and mkdi

[2015-01-23 15:53] patrikhson opened #52 "TypeError: old is null"
As displayed here on the image (I have been unable to copy/paste the text) I suddenly after a year o using this get exceptions:

TypeError: old is null at weaveOne/aspect@chrome://awsomeautoarchive/content/app.jsm:63:6

Etc...

This is Thunderbird 31.4.0 on Mac 10.10.1 (14B25), and AwsomeAutoArchive 0.6.

![screen shot 2015-01-23 at 16 48 19](https://cloud.githubusercontent.com/assets/655112/58774

[2015-01-26 15:59] wangvisual commented on #52
Did you always get this error, eg, after restart TB?

[2015-01-28 11:12] matthias2t opened #53 "Tags filters seem not to work with capital letters"
All is in the title.
It took me 1 hour to figure out why the tag filter was not working, and it seems it's because I used a capital letter in the filter (although there's one in the tag name).
Is that right ? If yes, it shouldn't take long to correct.

Thank anyway for the work done !

[2015-01-29 08:33] #53 closed

[2015-01-29 08:42] wangvisual commented on #50
Fixed, you can try beta version @ https://github.com/wangvisual/autoarchive/blob/master/beta/awsomeAutoArchive-0.7-tb.xpi

[2015-01-29 08:42] #50 closed

[2015-01-29 08:43] wangvisual commented on #53
Fixed, you can try beta @ https://github.com/wangvisual/autoarchive/blob/master/beta/awsomeAutoArchive-0.7-tb.xpi

[2015-01-29 08:53] vdenisov commented on #50
Thanks a lot, works very well!

[2015-01-29 09:41] matthias2t commented on #53
Waoh, great !
Very reactive, many thanks !

[2015-01-29 09:57] #43 closed

[2015-01-29 10:02] wangvisual commented on #34
close for now.

[2015-01-29 10:02] #34 closed

[2015-01-29 15:43] wangvisual commented on #51
Seems hang when doing real archive, the archive function was built-in in TB. And if the creation of folder failed, it might hang, as you mentioned 'Mailbox exists.'

So if you select some mails in SPOOL and it's sub folders, and press 'A', will it success?
Thanks.

[2015-02-25 19:25] miridvora opened #54 "Question: Is there a way to pull previous settings from a previous install?"
Hi!

My windowsXP died, so I upgraded to windows7.  However, I was not able to extract settings before the reinstall.

Is there any way to get autoarchive to read its previous config file(s) and do the same thing again?  Or do I have to manually recreate all my rules again?

Thank you!

[2015-02-26 12:52] patrikhson commented on #52
Sorry, did some archiving manually for a while, but am back now.

Yes, I always get this. Even after restart of TB.

[2015-02-26 12:53] patrikhson commented on #52
I now use TB 31.5.0 and tried AwsomeAutoArchive 0.7 beta that I just downloaded (Feb 26, 2015).

[2015-02-26 14:27] wangvisual commented on #54
If you still have the disks that contains the Thunderbird profile, eg "c:\Users\${foobar}\AppData\Roaming\Thunderbird\Profiles\${something}.default", you can use it as your new profile.

Or you can check if there's one directory under above path named "awsomeautoarchive", the files under in it are backup rules. You can install beta version which have a 'Load' function, or you have to manually chan

[2015-02-26 14:59] wangvisual commented on #52
Would you please try a clean profile with the latest beta (just uploaded), no other addons, From the code, I don't see any suspect that will cause this strange error.
Thanks.

[2015-02-27 08:18] patrikhson commented on #52
That works! I.e. new beta, no other plugins. Hmm...I have here a screen dump that show the plugins I normally have enabled (except the other archive plugin, which is disabled always).
![screen shot 2015-02-27 at 09 17 28](https://cloud.githubusercontent.com/assets/655112/6409287/986a90f2-be61-11e4-8539-4468bbee0755.png)

[2015-02-27 08:28] wangvisual commented on #52
Just want to clarify, if you now enable other plugins that normally enabled, the issue still happened?

[2015-02-27 09:32] patrikhson commented on #52
No, I can NOT repeat the problem.

I enabled each one of the plugins (except AutoarchiveReloaded) you can see above, and restarted in between.

NO crash.

[2015-02-27 09:43] wangvisual commented on #52
OK, then I assume the small changes in latest beta might fix the issue.
Close the issue and please reopen if happens again.

[2015-03-12 22:28] bossypigeon opened #55 "Negative match for tag not working"
Hi!
Love autoarchive but having problems with negative matching for tags.
I'm trying to copy everything that doesn't have the tag "keep". I can copy everything that DOES have that tag, but using "!keep" gives the same result as using "keep". It seems to be ignoring the !.
Any ideas?

[2015-03-13 14:29] patrikhson commented on #52
The problems are back... :-(
![screen shot 2015-03-13 at 15 28 25](https://cloud.githubusercontent.com/assets/655112/6640163/c80a1816-c995-11e4-9c7e-cc32330c24e2.png)

[2015-03-13 14:34] wangvisual commented on #52
Would you please try again by only enable this addon and disable others?

[2015-04-01 16:43] acug01 opened #57 "Only exact age messages are processed"
When I try to use a Rule such as "Move Source to Destination, Age = 30" AAA only moves the files with exact age = 30.  How do I move all files older than this age?

[2015-04-01 17:08] wangvisual commented on #57
The settings seems correct, Age=30 means to move files older than 30 days.
You might need to enable verbose information in error console to see why.

[2015-04-01 20:09] acug01 commented on #57
Error console (I changed age to 15):
------------------------------------------------------------------------
2015-04-01 15:59:18.218 rules: Array
------------------------------------------------------------------------
+ 0 (object) [object Object]
| + enable (boolean) true
| + action (string)'move'
| + src (string)'mailbox://agcsys@pop.centurylink.net/Inbox'
| + dest (string)'mailbox://nobody@Loc

[2015-05-06 12:02] Satalink opened #58 "Enhancement: Detach Attachments"
If it's not too difficult, it would very useful if awesome autoarchiver could detach attachments as a checkbox flag in rules.

[2015-06-07 18:43] lodgmar opened #59 "Enhancement: processing blocks of messages"
When you choose a number of days for archiving (or something else), and you reach that ammount of days, probably you will be archiving every single days since then, cause there are new messages every day.

It will be great if you can choose TWO numbers of days, the first one (D1) would be the age of messages that have to be considered, and the segond one (D2) would be the age of messages that will

[2015-06-08 11:24] wangvisual commented on #59
Yes, that's the current design. May I ask what's the issue for this? If you think the archive actives too often, there's one advanced settings to let you control 'Start next run after', you can set that to a bit enough number like 7 days. Is that works for you?

Thanks.

[2015-06-08 11:45] lodgmar commented on #59
Ooops, I didn't understand that option. I think this is exactly the
behaviour I was suggesting ;-)

Thanks for your fast reply!

________________________
Ignacio Triviño Mosquera

2015-06-08 13:24 GMT+02:00 Opera Wang <notifications@github.com>:

[2015-07-03 12:25] DobyTang opened #60 "Uncaught exceptions when used with EWS ExQuilla for Exchange on T38"
Enabled ExQuilla for Exchange and AAA resulting in failure to move messages to local folder and two broad errors being retrieved

Timestamp: 03/07/2015 13:21:08
Error: _mm_FormatDisplayName is not a function
Source File: chrome://mailsummaries/content/folderSummary.js
Line: 1520

and

Timestamp: 03/07/2015 13:22:08
Error: Caught Exception NS_ERROR_NOT_IMPLEMENTED: Component returned failure code:

[2015-07-11 09:54] GeertJanVanDerWolf opened #61 "Error: rule lacks of property src"
When Thunderbird 31.7.0 (default version installed on Ubuntu 14.04 LTS) starts with Awesome Auto Archive 0.6 installed and enabled it comes with this warning.

It reports the snag is located in .../extensions/awsomeautoarchive@opera.wang.xpi!/bootstrap.js line 48

It might have to do with the presence of the FiltaQuilla 1.3.1 add on

[2015-07-14 10:34] peekaa commented on #61
Same with me, when trying to add some rule.It might be one month old bug cause I found that one rule on archive folder on imap account is not "awasome-archiving".
![screenshot_1](https://cloud.githubusercontent.com/assets/3026590/8671348/98598d00-2a24-11e5-974c-60416fec0a9c.png)

wxp, tb 38.1.

[2015-07-18 13:18] SteveBudge opened #62 "Can't scroll through rules"
When I have too many rules to display all at once on screen I can't scroll through them, the display jumps from the top of the list to the bottom.

[2015-07-26 10:47] tobiasKaminsky opened #63 "Enhancement: Scope "only subdirs""
Hello,

I am using this great tools since a long time.
In my "inbox" there are all emails that I still have to reply.
In the subfolders there are the processed emails which can archived.
My problem is now that the rule "archive inbox and subfolders > 180 days" also archive the mails from within the inbox.
So for me a new scope "only subdirs" would be perfect.
I need to specify "inbox" as root as I

[2015-08-04 15:26] lviant commented on #62
I too am experiencing this issues. I'm on a Linux desktop (multiple distributions) using Gnome-Shell. Please let me know if could provide any more details that would be helpful.

[2015-08-07 14:37] rsd opened #64 "[FR] Auto Create Destination folders"
Hello,

To to auto create destination folders?
For example, move all inbox mail for BACKUPYEAR = YEAR - 2 to INBOX-BACKUPYEAR.

thanks,
-rsd

[2015-08-11 13:34] tp-pitc opened #65 "SLow processing CPu unresponsive"
When the rule runs for first time after starting thunderbird the whole cpu seems to slow down and not responsive. Is there some way to reduce cpu hogging?

[2015-08-11 15:13] wangvisual commented on #63
Finally I can connect to github again! Let me think about this.

[2015-08-11 15:16] wangvisual commented on #64
Using 'Archive' instead of move can create destination folders by years, you just need to config the archive option for thunderbird.

[2015-08-27 12:12] darrenkenny opened #66 "Archive hangs on trying to delete messages when set to 'mark for deletion' (0) in TB"
When running the latest version of Auto Archive, I'm experiencing a hang after it has transferred 50 messages, and is meant to wait to continue.

It appears to be around the time that it's deleting the messages.

Looking in the code, it looks like it is not doing the correct thing when there is not Trash to move messages to because TB is set to simply 'mark for delete' as opposed to moving to Tras

[2015-09-21 10:24] archerbarrie opened #67 "Options not working with TB38.2.0"
I have just installed AAA on TB38.2.0 on Windows 8.1 and there are numerous problems using options. Firstly it is very slow to load, then the window cannot be sized and is larger than the screen and finally the options do not seem to be saved. Regarding the last point, I change some of the advanced options then click OK. When I open options again they are set to default. The same applies to the ru

[2015-09-23 11:39] TimN-MK opened #68 "Just Installed autoarchive and TB 38.2"
I can select Source Folder to archive but there is no pull-dwon box to show Destination Folder
- is this a TB 38.2 incompatibility?

[2015-10-09 19:24] mikidep opened #69 "[Feature request] Hierarchy scope for archiving"
My office uses Local Folders as a root of all archived mails, keeping hierarchy of subdirectories. The problem is if I select Archive I cannot preserve hierarchy, if I select Move I cannot choose Local Folders as destination root. I think this should be added.

[2015-10-21 04:00] exlemor opened #70 "BUG: Installing hides all options under Thunderbird menu."
Hi there,

Just installed Awesome Auto Archive 0.6 with Thunderbird 38.3.0 on Mac and now the menu under Thunderbird is no longer there including:

About Thunderbird [no can't check for updates]
Preferences
Services
Hide Thunderbird  [which makes Command+H no longer work]
Hide Others
Show All

Thanks,

Emmanuel.

[2015-10-25 04:50] wangvisual commented on #68
archive dest folder is controlled by TB, as known as Archive Options per each email account.

There's one section in advanced settings of AAA named System Configrations / Identities, you can also change Archive Options there.

[2015-10-25 04:50] #68 closed

[2015-10-25 04:53] wangvisual commented on #69
Archive options is controlled by TB and it do have hierarchy support.

![Uploading Capture-1.jpg…]()

[2015-10-25 04:53] #69 closed

[2015-10-25 04:53] wangvisual commented on #69
![capture-1](https://cloud.githubusercontent.com/assets/1171579/10714108/6989a5a2-7b17-11e5-82e4-0759f549c978.jpg)

[2015-10-29 08:54] davidapage opened #71 "Program window properties"
In both windows and Linux the option to change the vertical size of the window is inoperative. The window sets itself according to the number of filters rather than the display size; if you have many filters, they are off the bottom of the screen and cannot be accessed for editing. This is most annoying when a filter is added which cannot then be edited which leads to constant error notifications.

[2015-12-28 17:31] patrikhson commented on #52
I must say I have swapped to now use MailMate, so I have not been using this archiving tool. Because of this, I can neither confirm, nor deny the problem still exists.

[2015-12-28 17:31] #52 closed

[2016-01-05 09:36] biovolt commented on #63
Thanks for the awesome work you have done!!!

I would also like to have the option the keep the sub-folder structure and and not just dump all the mails in the one destination folder.

I move my emails to gmail so can not use archive

[2016-01-11 12:25] Zoli1972 commented on #38
Hi,

Unfortunately, the issue is still existing in Version 0.6. Latest Thunderbird is installed, OS is Win7 x64.

Z.

[2016-01-11 12:26] Zoli1972 commented on #65
Issue still exists in Version 0.6, latest Thunderbird, OS Win7 x64. Any fixes?

Z.

[2016-02-24 06:52] imdad opened #72 "Archiving doesn't works at all"
I'm using the autoarchive add on on my _Seamonkey 2.39_ mail client. I'm on Windows 8. The autoarchive version is _0.6_. I wanted to archive old mails of few folders and none of my Rules worked. In past I have used the add on on Thunderbird where it worked. Please test the add on on Seamonkey 2.39 and get the issues fixed.

Thanks,
Imdad

[2016-03-12 16:31] kabalebo opened #73 "fault messaging"
program interfere with Quickfolders.
Message line:
script=chrome://Quickfolders/Content/Quickfolders.js:2082.
When  i disable Autoarchive the problem is solved.
Autoarchive seems to me a very good program. Sad it does interfere with Quickfolders in Thunderbird version 38.6.
I like to hear from you.
Thanks
Mathew

[2016-04-09 15:32] LloydEwing opened #74 "All files marked as read in destination folder"
I use AutoArchive to move all messages over two weeks old from my Inbox to another folder that is used only for saving the old messages.  This works very well, except that the messages that were marked unread in  the original Inbox are all marked as read after the move.  Is this normal with AutoArchive?  If so, is there any way to save the read status when the messages are moved?  If not, do you k

[2016-06-02 11:46] peekaa opened #75 "dead?"
:-(

[2016-06-09 02:23] wangvisual commented on #75
not as dead as door-nail yet.

[2016-07-07 22:58] zdima commented on #60
Is there a chance this crash  @@will be fixed?

Timestamp: 07/07/2016 06:55:45 PM
Error: Caught Exception NS_ERROR_NOT_IMPLEMENTED: Component returned failure code: 0x80004001 (NS_ERROR_NOT_IMPLEMENTED) [nsIMsgIncomingServer.verifyLogon]
autoArchiveService.checkServers@chrome://awsomeautoarchive/content/autoArchiveService.jsm:360:21
autoArchiveService._doMoveOrArchiveOne@chrome://awsomeautoarchive

[2016-07-07 23:04] will commented on #60
There is no chance that I'll fix it, sorry. I haven't used thunderbird in over a decade :/

[2016-07-08 02:29] vrms opened #76 "what version to ue for TB newer then 32.0 (current version is 45.2)"
I recently bumped over this addon which seems to be a very useful one.

just noticed that in the [TB addons page](https://addons.mozilla.org/en-US/thunderbird/addon/awesome-auto-archive/?src=search) the latest version (0.6) is recommended for TB 24.4 - 32.0.
just wondering whether that wasn't updated or this addon is not being maintained since 32.0 any longer?

[2016-09-26 05:27] elabree commented on #61
I get the same error. This is the only add on I am using. Running on os-x.
Possibly my rules are corrupted ? The rule editor does not show all rules and can't scroll down unless I create a new one.

[2016-12-24 11:04] darwin4ever opened #77 "There seems to be a bug"
Further let me say that I like AwesomeArchive a lot and that I hope development will be continued (as actually the version say till TB32 and we have TB45). What can we expect ?

-----------------------

I have Thunderbird setup to archive with
- Yearly archived folders
- Keep existing folder structure

When I archive in TB a message from the Inbox, it get's stored under Archives\2016\Inbox
When I

[2017-01-17 15:22] wangvisual commented on #77
Let me check when have time, now busy with project for work.
Basically, AAA use built in functions to archive email, the Scope-Only is only use for select which email to be archived.

Anyway if you can send me your option screenshot it might be helpful.
Thanks.

[2017-01-17 15:26] wangvisual commented on #76
Let me see if I can release a new version soon, 0.6 should works but I have local changes in my client.
Thanks.

[2017-01-17 16:08] darwin4ever commented on #77
Hi,

Thanks for the reply !

This are the archive advanced-settings in Thunderbird :

As you can see above, TB is configured to put archived messages in
YYYY/Inbox or YYYY/Sent a.s.o (option Keep existing ......)

And these are the AAA-options

I hope this helps

Thanks

Kind regards

Walter

On 17/01/2017 16:22, Opera Wang wrote:

[2017-01-18 04:48] vrms commented on #76
that would be great, thanks so much

[2017-01-26 09:29] RataDP opened #78 "Thunderbird 51.0b2 hangs on open Options"
I found a bug with this extension.

I have Thunderbird **51.0b2** *(beta edition)* and I just installed **Awesome Auto Archive 0.6**. When I will go to options the Thunderbird hangs and I have to kill it with the taskmanager. Any pop up appear when Options is pressed.

**Expects:**

- OS: Windows 10
- Thunderbird: 51.0b2
- Extension: Awesome Auto Archive 0.6

[2017-02-11 09:14] darwin4ever commented on #77
Hi,

Been able to look into it ?
Did you receive the screenshots ? Let me know if anything else is needed
or if I can help with a test.

Thanks

Kind regards

Walter

-------- Forwarded Message --------
Subject: 	Re: [wangvisual/autoarchive] There seems to be a bug (#77)
Date: 	Tue, 17 Jan 2017 17:08:28 +0100
From: 	Walter Quatannens <wquatan@zoho.com>
Reply-To: 	wquatan@zoho.com
To:
reply@reply.g

[2017-02-21 12:04] khdetwei opened #79 "Stops after processing one message"
When there are multiple matches for a filter it stops after processing one message. Thunderbird 45.7.1 in Windows 7 Professional.

[2017-02-22 10:38] Rojarao opened #80 "Deleted mails while trying to archive to non existent folder"
Deleted mails while trying to archive to non existent folder. I tried to archive "Sent" folder, but didn't create local "Sent" folder.. All messages got deleted and I can't see any in the local..

[2017-02-25 08:11] francwalter opened #81 "No "Destination Folder" field in Settings"
Hallo
I used this extension in version 0.6 for a while on my mothers computer but forgot to control if working. Now I see that since long there are no backups (archive function).
In the settings, there is no button or dropdown for the Destination Folder I noticed.
Here a screenshot:
![grafik](https://cloud.githubusercontent.com/assets/927269/23329509/6744794e-fb3a-11e6-9516-e0475001d33a.png)

The

[2017-05-08 06:47] 150cc opened #82 "thunderbird 52.1.0 (64 bit) auto-archive does not respond"
The icon that appears in the bottom status bar has disappeared.

Also no longer able to access the preference menu. Please if you can update the add-on to be compatible with the latest version of thunderbird it will be wonderful !!!

[2017-05-08 21:49] default50 commented on #82
Exact same thing happens to me also on TB 52.1.0 (64 bit) on macOS :(

[2017-05-30 09:11] gwi2014 commented on #82
I see this in my error console:

[code]

The problem at this point, may be that this is a EWS server added by the [ExQuilla Plugin](https://exquilla.zendesk.com/hc/en-us/articles/212909226-ExQuilla-Overview).

[2017-06-12 08:02] lfxg commented on #78
Same issue with TB 52.1.1.
How can we help  diagnosing  the issue?

Best Regards

[2017-07-06 20:11] hubertmeier commented on #82
the same, no reaction on Linux by pressing the "settings" button, in windows TB hangs while clicking on "settings". I can't use this addon, but there is no alternative, it would be nice if you can fix the problem

[2017-07-13 14:25] medisoft commented on #82
The same, but on Mac

[2017-07-18 13:18] jpschewe commented on #82
I'm running 52.2.1 and I don't get anything out of the preferences window and no errors in the console.

[2017-07-18 13:20] jpschewe commented on #82
I see some forks by @croesch and @jlovision. Does anyone know if these fix the issues?

[2017-07-18 20:25] croesch commented on #82
My fork does not address this issue and also I don't face that issue .. sorry :)

[2017-07-18 22:03] jpschewe commented on #82
@croesch What version of Thunderbird are you running and on what platform? And are you running the original version or your fork?
Thank you.

[2017-07-19 07:18] croesch commented on #82
Sure.

OS: Ubuntu 16.04.2 LTS
TB: 52.2.1
AA: my forked version

[2017-07-19 10:11] Rakanishuuuu commented on #82
Hey! Just wanted to say I have the same issue, if I try to go in the options of the extension, Tiby stops responding, I have to kill it.

I have Windows 10, and running Thunderbird 52.2.1 (32 bits).

Thank you!

[2017-07-19 14:13] jpschewe commented on #82
OS: Mac 10.11.6
TB: 52.2.1 (64-bit)
AA: 0.8beta from https://github.com/croesch/autoarchive/blob/master/beta/awsomeAutoArchive-0.8beta-tb.xpi

I installed the 0.8 beta version and when I goto the add-ons manager and then click preferences on Awesome Auto Archive nothing happens. There also is not an icon in the tray. I tried uninstalling, restarting Thunderbird and then installing again and I got

[2017-07-19 22:45] croesch commented on #82
@jpschewe sorry me too :smiley:

Have a look at my TB extension development [_experience_](https://github.com/croesch/autoarchive/commit/854a7a9e2203b627412de7214141dd67bbdbfc0b) :arrow_right: I'm out :wink:

[2017-07-30 11:24] bgschaid commented on #82
Same here (52.2.1 64bit on MacOS X)
Is it safe to assume that this project is dead? (no reply by the project owner, open pull requests that are over 2years old)

[2017-08-10 12:37] leonardoferro opened #84 "Copy the last 30 days e-mails (newer than)"
I'm just having one trouble,
I have a side account (safer, Anti-deletion) only for employees and I would like to provide only the last 30 days e-mails. copying them to their account, and after that , deleting 30 days older e-amails.

But the add on has no possibility to choose emails "newer than" an age.

Do you have any solution for this case ?

Thanks in advance.

[2017-08-10 14:32] wangvisual commented on #84
The workaround is to create a 'Search Folder'

Right click a mail folder, click 'Search Messages', then filer emails newer than 30 days. Saved it as a 'Search Folder'.

Then use AAA to work in it.

Thanks.

[2017-08-14 09:33] wangvisual commented on #82
alerts.totalOpenTime issue was fixed by https://github.com/wangvisual/autoarchive/commit/0d0247d3531f1a84058d6839ac90270447b833df

[2017-08-14 09:35] wangvisual commented on #78
fixed by https://github.com/wangvisual/autoarchive/commit/2db60b0b467fb6061197726ad791190bf6e8d4d2

[2017-08-14 15:00] #82 closed

[2017-08-14 15:01] #78 closed

[2017-08-14 15:02] wangvisual commented on #60
fixed.

[2017-08-14 15:02] #60 closed

[2017-08-14 15:02] #75 closed

[2017-08-14 15:05] wangvisual commented on #81
Archive destination is controlled by TB, Other actions like copy/move can have destination.

[2017-08-14 15:05] #81 closed

[2017-08-14 15:05] #54 closed

[2017-08-14 15:08] wangvisual commented on #7
close too old bug, please open new one if needed.

[2017-08-14 15:08] #7 closed

[2017-08-28 09:36] sm8ps opened #85 "Version 0.7 does not install in TB 55"
The add-on does not automatically install from addons.mozilla.org. When manually installing the downloaded xpi-file, TB refuses by saying that the add-on cannot be installed because it could not be verfied.

[2017-09-08 11:01] leonardoferro commented on #84
So.. i tried it first, but did not work for some reason, but now is working PERFECTLY !

Thank you so much. great Add-on !

[2017-10-03 07:56] GiorgioGit opened #86 "AutoArchive not move or archive"
Hi, I have always used aaa but since I installed it (0.7) in a new pc with Thunderbird 52.3.0 (64-bit), it does not move and archive more messages, it tells me "these changes would be applied in real run". I expect that I used a IMAP configuration. Can you help me?

[2017-10-03 08:45] wangvisual commented on #86
Please check if you enabled 'dry run' in advanced settings of AAA.
Thanks.

[2017-10-03 08:53] GiorgioGit commented on #86
it's enabled

[2017-10-03 09:01] wangvisual commented on #86
OK, disable it should work.
Thanks.

[2017-10-03 09:01] #86 closed

[2017-10-03 10:20] GiorgioGit commented on #86
thankyou so much! fixed!

[2017-10-31 03:29] buddybu opened #87 "Exception when running rules"
![image](https://user-images.githubusercontent.com/6501723/32206182-d60f8538-bdb0-11e7-9cf0-ef365438d8cc.png)

when I load thunderbird, this message appears when running rule 4 of 5 on my hotmail folder.  It seems to work fine on my frontier and yahoo mailboxes.

What further information do you need.

[2017-10-31 03:32] buddybu commented on #87
Here is the toolbar message when the error occurs:
![image](https://user-images.githubusercontent.com/6501723/32206286-7823c08c-bdb1-11e7-8a1a-1cd88f3357c5.png)

[2017-10-31 03:35] buddybu commented on #87
The last rule is trying to archive a folder on the yahoo account.
![image](https://user-images.githubusercontent.com/6501723/32206375-e1d5449c-bdb1-11e7-954a-471e214a7de7.png)

[2017-11-04 12:12] gaartsen opened #88 "The archive works OK for one account. All consecutive accounts render wit "Caught exception TypeError: old is null weaveOne/aspect@chrome""

[2017-11-04 12:16] gaartsen commented on #88
![image](https://user-images.githubusercontent.com/549717/32405261-1c907b4e-c1b6-11e7-9a68-5eba52681d4a.png)

[2017-11-04 12:17] gaartsen commented on #88
TH version 52.4.0 (Windows 7)
AAA version 0.7

[2017-11-27 09:21] Pjotr64 opened #89 "Version 0.7 destroys .pdf and .pptx attachments"
Hi,

I move all my incoming and sent mails to folders by autoarchive.
Now I mentioned that all moved mail attachments, if they are pdf or pptx, have a size of 0 kB and can not be opened or stored anymore.

Any idea of what I can do?

Regards,
Peter

[2017-11-28 07:26] Pjotr64 commented on #89
Hi,

Found the explanation. Autoarchive works fine, but there seems to be a bug in Thunderbird for OS X.
When I open my mailbox via webmail, I find all attachements working fine, including pdf and pptx attachements.

Regards,
Peter

[2017-11-28 07:26] #89 closed

[2017-12-02 09:51] MBurchard opened #90 "stoped working"
After archiving a lot of mails, it stopped working now...

Caught Exception TypeError: this.view.dbView is null
FolderDisplayWidget_hintAboutToDeleteMessages@chrome://messenger/content/folderDisplay.js:1447:5
FolderDisplayWidget_hintMassMoveStarting@chrome://messenger/content/folderDisplay.js:1463:5
weaveOne/aspect@chrome://awsomeautoarchive/content/aop.jsm:63:20
BatchMessageMover.prototype.archiv

[2017-12-15 12:47] DebianRoxx opened #91 "Description for each rule"
It would be nice to have a description for each rule.

[2017-12-16 15:42] javorekm opened #92 "1 messages already exists in target folder"
Sometimes autoarchive ends with warning "1 messages already exists in target folder". In options I have set to "keep" these messages on source (not to delete them), I would like to check them manually. But I do not know, how - I cannot find them.

I set the verbose log for autoarchive, but even this I cannot see which messages are duplicated, only the count.

{duplicate: 1, exceed: 0, cantDelete:

[2018-01-23 17:43] ccbamatx opened #93 "Can't Archive or Move if message is unread"
Autoarchive will not archive or move a message that is unread.

Is there a way for autoarchive to archive or move a message this is unread?

I think this changed many months ago.

[2018-01-23 19:11] ccbamatx commented on #93
I'll answer this myself.  Check "UnRead" mails in the Advanced Setting tab.  Duuuhhhhhhh!

[2018-01-23 19:11] #93 closed

[2018-02-12 17:05] sabretooth04 opened #94 "Auto Archive set in days instead of seconds?"
Any chance of having Auto Archive archive emails set in days instead of seconds?  I just want to archive certain folders every 30 of 60 days.  The Time Setting under advanced Start Next Run is set to 21600 seconds or 6 hours right now.

Any way just to set this to 30 days and just run it once?

[2018-03-07 19:21] KIMWW opened #95 "Global unique filter"
Hi,
First, congratulations for your work. It's a very helpful add-on. Thank you!
Once I have created filters for specific emails how can I create a global unique filter for the rest of my other emails in that same folder?

[2018-04-02 11:01] willpom opened #96 "Rule error"
Error: Rule 1 lacks of property src

Just installed but when I create a rule I get the above. Nothing happens on dry run or run.

[2018-04-22 08:16] EV-soft opened #97 "Error creating folder name when there are no ASCII characters in the name."
Dry Run Summery reports:
Source Folder - imap://.../Foresp&APg-rgelser...
Destination Folder - imap://.../Forespørgelser...

When running (copy-mode) Error message:
"Mailbox name is not valid mUTF-7"
Result:
In the target, the folder is created, but there are no files in it
Comment:
The character "ø" is a danish/nordic national char.

[2018-05-18 09:04] LigH-de commented on #88
Same for me. From my error console (after I enabled verbose logging) – translated from German to English:

[code]

[2018-07-24 12:11] dukasvili opened #98 "Multiple addresses rule not working"
I want to make rule for multiple addresses in From field:
first address, second address...
This doesn't work

[2018-08-08 08:29] Tigerduck01 opened #99 "Not compatible with Thunderbird 60"
Please update this great addon, so it orks again with latest thunderbird. Thanks!

[2018-08-29 01:09] swaits commented on #99
Yes please. I need this back. 👍

[2018-08-29 02:09] dugite-code opened #101 "0.8beta TB60 can't run"
with the 0.8beta the following error is presented when selecting run now:

`TypeError: ChromeUtils.generateQI is not a function[Learn More]  autoArchiveService.jsm:384:27`

[2018-08-30 14:17] wangvisual commented on #101
Hmm, interesting...

[2018-08-31 10:03] #101 closed

[2018-09-02 09:27] wangvisual commented on #99
version 0.8 works with TB 60.

[2018-09-02 09:27] #99 closed

[2018-09-06 09:46] MrMette opened #102 "Archive Job hangs in Thunderbird 60"
I upgraded to Thunderbird 60 (32 bit) today and have installed the 0.8 beta Awesome Auto Archive add-on, but it seems that my jobs don't work.

In the beginning it was complaining about not finding/not being able to open the folder, but I don't see those errors any more after reselecting each folder for my jobs (I didn't think about copying the error for that one).

But when I start a job (or if i

[2018-09-06 13:26] Infinality opened #103 "Subdir Rule(s) not working"
I have TB set up with multiple accounts.  In one of the secondary accounts, I have a rule set to delete everything over 90 days old in a folder, including subfolders.  When I do a run, it doesn't delete anything.  If I specifically go into a subfolder and choose "only" that folder, it works.  So it seems like there is something wrong with the subfolder option.

[2018-09-06 13:26] Infinality commented on #103
Oh, also I am using the latest release version 0.8 on Windows 10 x64.

[2018-09-07 03:17] wangvisual commented on #102
Please wait for 0.8 official release.

[2018-09-07 08:03] waltherm opened #104 "TypeError: ChromeUtils.generateQI in 0.8beta"
Trying to dryrun hangs and does not apply any filters. Output of error console attached (masked my personal information).

[2018-09-07_error_log.txt](https://github.com/wangvisual/autoarchive/files/2360145/2018-09-07_error_log.txt)

[2018-09-07 08:08] wangvisual commented on #104
Please use https://github.com/wangvisual/autoarchive/blob/master/releases/awsomeAutoArchive-0.8-tb.xpi

[2018-09-07 08:08] #104 closed

[2018-09-11 12:45] waltherm commented on #102
@MrMette this worked for me: https://github.com/wangvisual/autoarchive/issues/104

[2018-09-11 12:48] waltherm commented on #92
Same for me: @wangvisual is there any way to tell which message is already existing?

[2018-09-11 13:01] MrMette commented on #102
@waltherm Thanks for letting me know.

I already patched in the code of https://github.com/wangvisual/autoarchive/issues/101 into my xpi file (by changing the code in the xpi file). It didn't work at first (even after restarting Thunderbird), but it worked after a reboot.

But I obviously rather have an official way to fix it. Thanks again (and thanks for creating the patch to wangvisual).
This se

[2018-09-11 13:01] #102 closed

[2018-09-21 02:23] evandrocoan opened #105 "Does not create any filters"
I just installed this:

![fsg](https://user-images.githubusercontent.com/5332158/45856739-21517f80-bd2c-11e8-8526-ab833a58b91d.gif)

<details>
<p>

[code]
</p>
</details><br>

[2018-09-21 02:35] evandrocoan commented on #105
I noticed my version was outdated. I updated it now and it is working.

[2018-09-21 02:35] #105 closed

[2018-09-21 12:04] abeelen commented on #103
I can also confirm this with 0.8 and TB 60.0 on linux

[2018-09-23 14:32] wangvisual commented on #103
It was fixed in my local test, but I can't push to github now as github was blocked by GFW again :-(

[2018-09-24 09:59] #103 closed

[2018-09-24 21:49] vdenisov opened #106 "No scrollbars appear when rules overflow"
Windows 10 x64, Thunderbird 60. When the options window can no longer expand vertically (or when you decrease the window height manually), no scrollbars appear, making either top or bottom rules inaccessible. I remember that it used to work some time ago, but it no longer does.

[2018-10-03 09:39] matyhaty opened #107 "No Sub Dir"
You have fixed this issue, but no release which allows us to use your fix

You fixed it 9 days ago

Could you do a 0.81 release please!

[2018-10-04 13:40] #106 closed

[2018-10-04 13:44] #107 closed

[2018-10-04 13:45] wangvisual commented on #107
Please try https://github.com/wangvisual/autoarchive/blob/master/beta/awsomeAutoArchive-0.9-tb.xpi

[2018-11-10 09:45] HWiese1980 commented on #96
Is this addon dead? I have the same issue.

[2018-11-12 08:50] dugite-code commented on #96
Double check the source folder in general settings. I've notice that sometimes it will loose that setting. @HWiese1980 the last update was only a month ago for TB60 so no I don't think it's dead

[2018-11-12 09:09] HWiese1980 commented on #96
Alright

I have gotten rid of the error by entering something to the three fields "from", "recipient" and "subject", and deleting it again. Looks like a bug to me.

[2018-11-15 12:11] timmaj commented on #107
👍 The beta works perfectly on subdirs again

[2018-11-19 12:10] timmaj commented on #107
Correcting: it work**ed** for me. Now I get a "folder already exists" error. When Archie works, Thunderbird tries to recreate folder for some folder, which already habe been achieved earlier. This exception is not caught by Archie.

[2018-11-22 17:47] Metathesus opened #108 "Disable Archie forever then Enable Archie => Nothing Done"
In schedule control
1) Disable archie Forever
2) Enable Archie
3) Archive Now => "Nothing Done"

I have to set:
Disable archie till Restart AND restart thunderbird to make it working again.

[2018-11-25 20:10] Bitdreamr commented on #108
Do you have Thunderbird 60.3.1?  When I updated Thunderbird today, it showed AutoArchive is not compatible.

[2018-11-26 08:58] LigH-de commented on #52
It still exists in #88 ... and I wonder if this project is still maintained.

[2018-12-05 11:21] ando3k opened #109 "Archiving disabled since 1 month"
Dear all,
Unfortunatley I have the problem that since approximately 1 month the rule that I generated for archiving emails older than 1 year doesn't work any more (before it worked properly). I have not changed anything.
Also manually activating the rule and different trials to disable the add-on and/or the rule did not work.

What might be the reason? Was there an update 1 month ago?
I am running

[2018-12-14 00:13] harkonnen0069 commented on #66
Any luck on fixing this one?

[2018-12-14 14:59] kokpit opened #110 "09. beta version"
It start archiving work OK - but in the archived folder it creates empty mails with date from 01.01.1970

![untitled](https://user-images.githubusercontent.com/12991536/50010251-2f284100-ffb9-11e8-9045-d857d7f12baa.png)

is it some setting issue  or bug?

[2018-12-28 11:37] ChristianWaechter opened #111 "Scope "hierarchy" not working as intended with copy"
Hello,

I'm having troubles copying all my e-mails from a IMAP to a local folder for archive purposes. I already have multiple subdirectorys on this IMAP-server, which also should be copied to the local folder. So I created the following rule
![grafik](https://user-images.githubusercontent.com/46220276/50514123-8a1f6500-0a9c-11e9-89a6-47bf85c8e46c.png)
I expected, that all subdirectorys on the IMA

[2019-01-08 08:05] theClassicFreak commented on #107
Loading this XPI on Thunderbird 60.4.0 (32-bit) throws the following error

There was an error during installation: Component returned failure code: 0x8052000b (NS_ERROR_FILE_CORRUPTED) [nsIZipReader.open]

[2019-01-14 13:16] carlinux commented on #109
I think i have the same issue,
Thunderbird 60. Subfolders aren't evaluated at all but if i move messages to the root folder of the rule it works as intended.
tried an fresh install as well with same results.

[2019-01-14 13:39] kokpit commented on #109
try: https://github.com/wangvisual/autoarchive/blob/master/beta/awsomeAutoArchive-0.9-tb.xpi

[2019-01-14 13:42] kokpit commented on #109
Try: https://github.com/wangvisual/autoarchive/blob/master/beta/awsomeAutoArchive-0.9-tb.xpi

and what are the setings for arhiving is it set to include sudirs...
![untitled](https://user-images.githubusercontent.com/12991536/51116176-a9432400-180a-11e9-93fb-4fd061d43fc4.png)

[2019-01-14 13:51] mtiday commented on #109
Yep, it is. The settings hadn't changed for me. One day I noticed it wasn't archiving sub directories any longer.

[2019-01-15 08:54] ando3k commented on #109
Thanks, the 0.9beta works!

[2019-01-15 08:54] #109 closed

[2019-02-03 12:50] gbrossi76 opened #112 "Scope "hierarchy" not working with move"
Windows 10 + Thunderbird 60.5.0 (32 bits) + Awesome Auto Archive 0,8

Running Awesome Auto Archive with scope "Hierarchy" and action "move" the answer is always "Nothing done".

![image](https://user-images.githubusercontent.com/6936038/52176915-e151dd00-27a0-11e9-9a28-125c500759da.png)

Debug messages:

2019-02-03 10:47:35.965 loadPerfWindow
2019-02-03 10:47:35.966 autoArchivePref: set InstantApp

[2019-03-02 08:34] User1968 opened #113 "Advanced Settings: No scrolling (0.9beta)"
In 0.9beta is no scrolling in Advanced settings possible....
But hierarchy now works! Thats great! Go on! I donate to motivate!

[2019-03-22 15:49] jkavery opened #114 "Exception TypeError: msgFolder is null when opening Add-on"
When opening Awesome Auto Archive 0.8 to configure it for the first time, Thunderbird 60.5.1 (Linux) reported these exceptions:
[code]

[2019-03-24 22:16] StuporDaveOsborne commented on #114
Same as above but Win 7:

NS_ERROR_FAILURE: Couldn't decrypt string  crypto-SDR.js:179
TypeError: Argument 1 of Document.getAnonymousElementByAttribute is not an object.[Learn More]  accountcolors-3panewindow.js:1156:13
TypeError: Argument 1 of Document.getAnonymousElementByAttribute is not an object.[Learn More]  accountcolors-3panewindow.js:1156:13
TypeError: Argument 1 of Document.getAnonymousE

[2019-03-24 23:04] StuporDaveOsborne commented on #110
Win7, caught this when opening options:
Failed to load overlay from chrome://global/content/charsetOverlay.xul.  messenger.xul
Use of Mutation Events is deprecated. Use MutationObserver instead.  calendar-widgets.xml:512:20
NS_ERROR_FAILURE: Couldn't decrypt string  crypto-SDR.js:179
Content Security Policy: Ignoring ‘x-frame-options’ because of ‘frame-ancestors’ directive.  (unknown)
Caught Excep

[2019-03-25 13:39] Nono-m0le commented on #114
I guess I've the same here on Windows 10 / TB 60.6.0 (the add-ons is currently not usable/not working):

[code]

[2019-03-28 10:32] sphh commented on #114
I can confirm @jkavery finding for Thunderbird 60.5.1 (Linux, 64 bit). The drop-down box for the `Destination Folder` remains empty:

[code]

[2019-04-04 20:22] GonzAR commented on #114
Same here on Windows 10 / TB 60.6.1 (the add-on is currently not usable)

******************************************************************************
Caught Exception TypeError: msgFolder is null
updateFolderStyle@chrome://awsomeautoarchive/content/autoArchivePrefDialog.jsm:103:1
initFolderPick@chrome://awsomeautoarchive/content/autoArchivePrefDialog.jsm:147:5
creatOneRule@chrome://awsomeautoar

[2019-04-08 00:49] bfry25 opened #115 "Caught Exception TypeError: old is null"
getting the following repeatedly:
Caught Exception TypeError: old is null
aspect@chrome://awsomeautoarchive/content/aop.jsm:63:6
aspect@chrome://awsomeautoarchive/content/aop.jsm:63:20
archiveMessages@chrome://messenger/content/mailWindowOverlay.js:1690:5
searchListener/this.processHeaders@chrome://awsomeautoarchive/content/autoArchiveService.jsm:681:11
searchListener/this.onSearchDone@chrome://aw

[2019-04-10 18:57] GDowning14 commented on #114
Also occuring on Windows 7 TB 60.6.1.  Have 4 IMAP accounts (3 external internet and one internal intranet).   After the message, am unable to configure archiving as destination folder dropdown is not populated.  Add-on is not usable.

Caught Exception TypeError: msgFolder is null
updateFolderStyle@chrome://awsomeautoarchive/content/autoArchivePrefDialog.jsm:103:1
initFolderPick@chrome://awsomeaut

[2019-04-22 12:52] blitzdesigner commented on #114
is this project still maintained?

[2019-04-22 15:44] jkavery commented on #114
To work around the problem of there not being a Destination Folder drop-down when adding a new rule, add one or more new rules, filling in everything except the Destination Folder(s).  Then quit and restart Thunderbird and edit the options again.  The Destination Folder(s) of the new rules will now have drop-downs which can be used.

[2019-06-19 23:08] boscharun opened #116 "No destination folders shown in settings."
When trying to add a copy rule, clicking the destination folder doesn't show any folders. Using thunderbird 60.7.1. Please help.
![image](https://user-images.githubusercontent.com/3824889/59807354-68b17000-92ac-11e9-98a0-a68a7b86c062.png)

[2019-07-07 13:07] chrober commented on #116
I am experiencing the very same problem. Not sure when it started, it seems to be related to a Thunderbird upgrade. I recently found out my mails have not been archived anymore. By checking the Awesome Auto Archive options I found out the destination folders are not displayed anymore!

However, checking the `extensions.awsome_auto_archive.rules` in TB's Config Editor I do see the proper `dest` att

[2019-07-08 20:13] dmshimself commented on #116
I have the same issue - TB 60.7.2 as well

[2019-07-29 15:00] vbsql7 commented on #114
I loaded this app specifically to use the **Archive** function -- and to AVOID having to set a destination folder. Using the Archive button in TB automatically selects a folder for you, based on the current yet.
FiltaQuilla and other filter add-ons require you to hard-code a folder into your archive action, which is something you have to then maintain every year.

This display bug, while annoying,

[2019-08-01 07:33] elhennig commented on #116
Same here on Linux using TB 60.8.0

[2019-08-02 17:29] SeagramFR commented on #116
Hi,

Same issue with Awesome Auto Archive (AAA) 0.8 with ThunderBird (TB) on Windows 10, currently 60.8.0 32bits (with auto update set).

My ISP was sending me "_quota warning_" alerts, so I was puzzled and checked TB contents and AAA settings and behaviour.

- TB:
Messages older than set delay are not archived any more.
According to settings and dates of oldest messages not archived, AAA is broke

[2019-08-02 17:48] chrober commented on #116
I hope it will get fixed (soon)!
I am not aware of any alternative which could replace AAA for my needs.

[2019-08-03 07:01] hainesr commented on #114
This matches my experience.

[2019-08-03 08:28] SeagramFR commented on #116
Hi, @chrober

I am afraid I don't know of any alternative either.
Back to manual archiving? :-(

[2019-08-03 17:21] chrober commented on #116
I am already back here, manual archiving is what I currently do. But it is no fun at all, it is a totally stupid task. It would be **awesome** if my computer would **auto**matically maintain my e-Mail **archive**. Actually, that is what I have my computer for -- relieving me from stupid tasks.

[2019-08-07 10:15] wave864 opened #117 "Enhancement: remove tags / mark as read / unstar on archive"
While you can configure Auto Archive to include starred, tagged, or unread mails when archiving, it would be useful to have an additional option to remove tags, mark as read, and/or unstar on archive.

[2019-08-11 17:41] SeagramFR commented on #116
Hi, @chrober

I totally agree with you, that's what a computer is made for: perform stupid and tedious tasks ... once human has properly specified what is expected, which is often the longest part of it ;-)

First thing first, I may spend some time looking at the logs and the code and understand what goes wrong and what is to be fixed?

More on this later,

[2019-08-29 06:19] elhennig commented on #111
Same here. The copy action does not do anything if I choose the hierarchy scope.
I am using TB 50.8.0 under Linux (64bit)

[2019-08-29 09:23] elhennig commented on #112
With the beta version the messages are chosen correctly with move or copy and hierarchy scope but for me they are created empty in the destination folder.

[2019-08-30 12:25] elhennig opened #118 "Ready for TB 68+?"
Is this addon ready for the usage with Thunderbird 68 and higher (or probably 67)? If not, are there plans to update it?

[2019-08-31 15:10] quenton89 commented on #116
The quick workaround (if its not already noted, did not see it) is to apply the change, close the window and re-open the archiver window.  You can then select the folder - nuisance? perhaps, but the add-on is too useful to not use the workaround.

[2019-08-31 15:11] quenton89 commented on #118
Agree -- lets at least know if its planned!

[2019-09-01 03:01] dmshimself commented on #116
I cannot get that to work - the windows opens up a second time with the entry for the destination folder still disabled.  Was there a particular sequence you used to get this to work?

[2019-09-01 08:29] chrober commented on #116
This workaround does not work for me. What changes do you make before you press the "Apply" button? How do you close the window? With what TB version and under which OS is this supposed to work?

[2019-09-01 12:19] quenton89 commented on #116
Sorry - I had hoped it would work for everyone, I have been using it for months now.

Just to be sure, the steps I go through to add a new item are ...
- open the Archiver window
- add new item, set it to MOVE
- select the from folder
- set other options that I want, then hit OK which saves the new item and closes the window
- open the Archiver window again, now I can select the target folder.

[2019-09-01 19:53] dmshimself commented on #116
For me on TB 60.8.0 I can follow your method as long as long as Move is selected, but when I bring the windw back and change Move to Archive, the ability to select a destination folder is removed

[2019-09-03 01:23] dugite-code commented on #118
Note the commit https://github.com/wangvisual/autoarchive/commit/31292a5bd80ea3d68c2c0d5cc3bca65d70c4a056 "add src/manifest.json for TB69, note: not fully work yet"

The upgrade to 68+ takes a fair amount of work, no doubt it will come eventually.

[2019-09-05 08:05] mbu-cx commented on #118
+1

[2019-09-05 09:00] gael1980 commented on #118
+1

[2019-09-23 11:42] michaelminarcz commented on #116
I have the same problem. TB 60.9.0 (64-bit) on MAC. Destination folder is empty, so I can't select the destination folder.... does anyone solve it?

[https://ibb.co/b5L6L2R](url)

[2019-10-25 22:50] Tealk commented on #118
I would also like to have the update, thanks :)

[2019-10-29 11:39] tbeitter commented on #118
This would be awesome, I feel lost without this plugin :)

[2019-11-27 15:14] quenton89 commented on #118
There doesn't seem to be any movement at all on this -- very concerning to me as my whole email handling (I have about 8 accounts I need to handle) depends on this add-on :(

[2019-12-05 13:17] LionelHoudelier opened #119 "Donate problem with paypal. Refund demand. Please Answer me !!!!!!!!!!!!!!!!!!!!!!!!!!"
Hi. I wanted to grant you for this add-on through the donate button with paypal, because it helped me a lot.
But on the paypal page, the 4.99 $ became 499$ taken on my credit card. I have contacted paypal to explain the problem, and get the refund of the 499$. They have recognized a problem and ask me to contact you first to get refund of the amount. they said also that in case of no refund from y

[2019-12-29 12:50] tbeitter commented on #118
@wangvisual could you say anything on this topic? Maybe you could just contact me and we could talk about what's needed to get this super helpful plugin back to work. Thanks!

[2019-12-29 13:51] quenton89 commented on #118
I see nothing happening -- Wang Opera has three addons, none have been updated for the new Thunderbird, and no comments from the developer for many months on any of them.

[2019-12-30 17:25] ScottHiser commented on #118
Time permitting, it would be worth branching this or contributing. With a single developer working on something it should be concerning because life (and death) happens and a project can abruptly end.

[2019-12-30 21:36] quenton89 commented on #118
I agree, but you'd have to get in touch with the developer first!

[2020-01-02 09:48] timmaj commented on #118
I would also appreciate any news – or suggestions for alternatives, should there be none. Thanks!

[2020-01-03 18:01] quenton89 commented on #118
I have spent many hours trying to see how I might do the half-dozen things I do with this addon in other ways, so far I have found nothing.

[2020-01-06 13:51] wangvisual commented on #119
Seems you already got the refund? I have issues with my paypal account, that it was locked, I'm working on that.

So should I change anything? Why 4.99$ becomes 499$?

[2020-01-08 10:15] chris-hoe commented on #118
Hey, that's promising - a sign of life from wangvisual! :-)
Wang Opera, please share your plans for this super useful plugin with us. Looks like there are quite a few enthusiastic users willing to support the required update to TB 68+ either with some money or by actually taking part of the work!

[2020-01-09 15:13] troyerj commented on #118
I'm lost without this....folders are filling up, didn't even realize how much I was doing with it until it stopped working!!

[2020-01-11 14:45] LionelHoudelier commented on #119
Yes. it is all refund. Thanks for the resolve. The bug comes from Firefox ESR on Linux. Could not believe it ! I'll make a new donate. Thanks a lot again for your work.

[2020-01-11 14:45] #119 closed

[2020-01-13 23:57] zetan503 commented on #118
Just installed Mint 19.3 and it came with Thunderbird 68.2.2
Awesome Auto Archive successfully collected 40gigs of monthly email back to 2014.
But the plugin says no longer supported.
Any luck adopting it to TB 68? Where do we send starbucks gift certs?

[2020-01-23 21:23] Infinality commented on #118
For people who aren't afraid of code, I've had success with this utility:
https://github.com/lefcha/imapfilter

Took a couple hours for me to figure out how to code my rules using examples online, but it works.

[2020-01-26 11:38] GiacomoCocchella commented on #118
Looking to src code, it seems that Wang knows the problem because there are changes related to 68.x version. I see there is a beta 0.9 version but I don't know if it's working in the last thunderbird (manifest.json reports compatible but you never know... it's just a string... anyone has tried it?) and how to install a beta version. Thank you.

[2020-01-28 11:11] elhennig commented on #111
It works for me, now. TB 60.9.0

[2020-01-28 11:15] elhennig opened #121 "Scope "hierarchy": Processing deleted messages"
Are deleted messages in the source folder also deleted in the destination folder when I use the hierarchy scope? If not, would it be possible to implement such a function?

[2020-01-28 13:07] franktheforgetful commented on #118
I've installed 0.9 beta but it remains disabled, i've tried to edit the manifest to change the TB compatibility range but that also did not help.

[2020-01-31 10:51] acidofil commented on #118
+1 :) its a great addon

[2020-02-06 10:03] francwalter commented on #118
Before updating to TB 68+ I wanted to know if there would still be this Add-On working.
After reading this issue, my hopes are gone. No comment and update since a while from the developer :(
OK then, I will stay on TB 62 some longer.
Or anybody knows a working replacement for this Add-On?

**EDIT:** I just found [AutoarchiveReloaded](https://github.com/Brummolix/AutoarchiveReloaded/releases), for

[2020-02-06 11:36] biovolt commented on #118
I also don't see any movement here.
Can you use AutoarchiveReloaded to archive a different account?

[2020-02-06 12:17] francwalter commented on #118
Especially that it is doing. You need to configure all accounts first (default is no autoarchve at all). But you cannot choose folders in your account, just all the mails in your accounts older than x days. And it relys to the archive settings of TB in the account setting. So the archive folder is to set there!
Seems that this Add-On is quite basic and not that rich-featured than wangvisual's, but

[2020-02-06 12:52] biovolt commented on #118
Thank you @francwalter
I still hope @wangvisual fix his plugin for 68+

[2020-02-13 17:47] quenton89 commented on #118
After waiting for months, I have given up.
I have managed to get Thunderbird to do some of the things, some I will do manually.
I don't love it, but wanted a couple of the things that 68+ gives me.

[2020-02-14 05:16] biovolt commented on #118
Hi @wangvisual
Please give as an update on what your plan is.
Even if the plan is to not fix it, then we know if we need to wait or move on.

[2020-02-14 17:02] ScottHiser commented on #118
There's some pretty significant changes to Thunderbird, so it's a lot of work to expect updates especially for a free add-on. Looking forward at Thunderbird, it appears there are going to be some significant updates in version 70. So, Thunderbird is getting better, but a lot of add-ons that make it really awesome are not going to work. This could cost Thunderbird some market share.

For anybody wh

[2020-02-17 08:37] tbeitter commented on #118
Just to repeat @wangvisual: I'd be happy to help funding the development to get a working plugin for current Tbird versions, I just need to know a $$number to check if it is possible. Thanks a lot!

[2020-02-18 00:19] jules-o commented on #118
I'm another who'd gladly donate if this fabulous addon can be updated to 68+
Nothing else does what I need and it'd be a big pain to do it all manually. Have reverted back to TB 60 for now, just to keep using Awesome.

[2020-02-18 13:52] primoz-svetek opened #122 "Autoarchive 0.8 not compatible with the Thunderbird 68.5.0"

[2020-02-18 13:57] timmaj commented on #122
This is handled in #118

[2020-03-04 15:53] franktheforgetful commented on #118
I've made a small donation to provide some motivation :)

[2020-03-04 16:00] quenton89 commented on #118
Not until we hear something from the developer -- just a note that its being worked on -- there has been nothing for months.

[2020-03-05 09:26] careca1970 commented on #118
@wangvisual has been a great contributor to Thunderbird community until now.
He already said that he has time constraints to maintain all his projects after so big "improvements" (in fact a mess) in TB's free API.
So that he seems to be willing to "re-write" his add-ons to match every thing again.

Myself, I made him some $-contribution.
Please guys, show your gratitude to his nice work, and spend

[2020-04-08 08:15] 1500cc commented on #118
TB 78 is around the corner and it would make more sense to shoot straight for TB78 compatibility ?

[2020-04-08 08:32] biovolt commented on #118
I think the Corona Virus got @wangvisual
There has been no activity or anything from from @wangvisual here

[2020-04-13 05:08] SirLionfire opened #123 "Incompatible with Thunderbird 68.7.0"
I'm not sure if there are any changes real changes required.  I think it might just be a quick "yes it works" update?

[2020-04-15 12:51] elhennig commented on #123
This is handled in #118

[2020-04-20 08:21] franktheforgetful commented on #118
Come on now :) BTW he did raise an issue on another project on 22/March.

[2020-04-20 08:30] franktheforgetful commented on #118
It may help cope with the withdrawal from this extension:

In TB 68 it has been introduced the capability to run filters periodically:
https://bugzilla.mozilla.org/show_bug.cgi?id=864187

while it certainly can't compensate for all the capabilities of this extension, especially given that filters are not "folder aware", I think it still can come handy.

[2020-05-07 12:08] elhennig commented on #118
That is true, it helps, the folder awareness of filters can be addresed with FiltaQuilla addon. The hierarchical copy action is missing for me!

[2020-05-11 14:03] pik-256 commented on #118
According to https://bugzilla.mozilla.org/show_bug.cgi?id=864187:

So FiltaQuilla is no solution.

[2020-06-01 13:01] wcopppola opened #124 "caught exception type error: msgFolder is null"
Can't get  addon to work except with single folders. I get the following errors;

Warning: attempting to write 6764 bytes to preference extensions.exchangecalendar@extensions.1st-setup.nl.82ebeba7-9fb6-4092-8c92-47446f8964d9.syncState. This is bad for general performance and memory usage. Such an amount of data should rather be written to an external file. This preference will not be sent to any c

[2020-08-13 03:36] 1500cc commented on #118
I believe with TB 78 release the goal will be for TB 78 compatibility  skipping TB 68 ?

[2020-08-13 13:42] dmfiel commented on #118
Yes, with TB 78 add-ons will have to be MailExtensions, https://developer.thunderbird.net/add-ons/updating/tb78. AAA is currently setup as a legacy extension, so it will have to be extensively re-written to work under 78.

However, I do have the extension working now on 68.11.0. @wangvisual had already done 99% of the work, but hadn't set the compatible version to allow it to install. I also fixed

[2020-08-21 08:43] elhennig commented on #121
Any update in this idea? I guess a hierarchical sync from IMAP to local folder would be a great functionality to have an alternative for the offline storage from TB, that does not work for me to reliably.

[2020-08-23 06:53] chrober commented on #118
Hi dmfiel,

I'd really like to try this, but it fails to install:
![image](https://user-images.githubusercontent.com/26856218/90972927-7819f200-e51d-11ea-861b-9865a1c2c279.png)

I am running Thunderbid 68.11.0 (64-bit, Win10).
Do you have any suggestions how to get it working?

Best regards, Christoph

[2020-08-23 09:02] chrober commented on #118
OK, I got it working. My mistake was to right-click and choose "Save link as" in the directory listing of https://github.com/dmfiel/autoarchive/tree/master/beta

Pressing the "Download"-button after following the link to the file gave me the correct xpi-File.

[2020-09-20 11:18] renoth commented on #118
I wont continue to use this plugin because it seems abandoned. Does anyone know how i can get my local folder where i archived all my emails back?

[2020-09-20 11:41] renoth commented on #118
Now by TB has upgraded to 78 and it stopped working even with the patch from dmfiel. Sad times.

[2020-09-20 16:54] dmfiel commented on #118
I've updated my version to load with all versions of TB68, so it works with 68.12.0 now:
https://github.com/dmfiel/autoarchive/blob/master/beta/awsomeAutoArchive-0.91-tb68.xpi

[2020-09-21 01:36] dugite-code commented on #118
I've had success porting the Lookout add-on with extensive help from @jobisoft using the Experiment wrapper API found here https://github.com/thundernest/addon-developer-support/wiki

It's an intermediate step to getting legacy add-ons ported completely over to TB78. It may be possible to do the same for this add-on.

[2020-09-21 05:57] jobisoft commented on #118
I am happy so see, that @dugite-code did not give up and made his Lookout add-on available for TB78. It is literally my job to support add-on developers in this process. I can provide assistance on our add-on developer community channels:
https://developer.thunderbird.net/add-ons/community

If you are stuck somewhere and your code is in a public repository, I can have a look and send you pointers.

[2020-09-21 06:28] joanamate commented on #118
Thanks a lot for this!!! Working on my TB68.12 too!

Missatge de dugite-code <notifications@github.com> del dia dl., 21 de set.
2020 a les 3:36:

--
Joan

[2020-11-04 20:35] SpinDreams commented on #118
Hi Guys, love this plugin, if you can please make it work with 7.x that would make my day.

[2020-11-05 03:25] gbrossi76 opened #126 "Please update to Thunderbird 78.x"
Please update to Thunderbird 78.x

[2020-11-08 23:03] Waldmensch1 commented on #126
+1

[2020-11-10 14:40] ziuras commented on #126
+1

[2020-11-11 11:43] francwalter commented on #118
Development for autoarchive has obviously stopped :(

[2020-11-27 05:38] SpinDreams commented on #126
+101

[2020-11-30 16:52] troyerj commented on #118
Will it still load if I upgrade to 68.12.1? Do you think it is good for all 68.12.x upgrades?

[2020-11-30 17:47] dmfiel commented on #118
Yes, it's set to work through 68.99:
https://github.com/dmfiel/autoarchive/blob/master/beta/awsomeAutoArchive-0.91-tb68.xpi

And, FYI, I do plan to continue working to upgrade for TB78 eventually. It is a huge effort, because 78 changed the way dialogs are shown, preferences are saved, and how add-ons interact with TB through API calls. Plus, the add-on people are debating about how add-ons will w

[2020-11-30 18:04] troyerj commented on #118
That's awesome, I thought I'd read in one of the releases you'd added the 68.12.x capability but couldn't find it.

As to TB78 - I think we are all just glad someone has taken this on and I completely sympathize with the work/life.  Drop us a note every now and then to let us know how it's going!

[2021-04-25 15:21] GutHib commented on #126
+1001

[2021-04-27 13:06] troyerj commented on #126
Is it wrong that I turned that into +9?

[2021-04-27 13:21] GutHib commented on #126
What I actually meant was +1111101001

Sorry for the misunderstanding.

[2022-05-04 05:46] Stef-at-github opened #127 "Please update to Thunderbird >90.x"
Please let not die this wonderful Addon!!!

[2022-10-13 18:59] jules-o commented on #118
I know this is an old thread but just wanted to jump in to say THANK YOU for this. I had been sticking with a very-out-of-date Thunderbird purely to keep this addon, as I can't find anything else that comes close to what I need, but eventually had to give in to the automatic update. Found your version and it works like a charm. Thank you so much.